@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,400italic,700italic);

@font-face {font-family: "MyriadPro Bold";src: url("../fonts/MYRIADPRO-BOLD.OTF");}
@font-face {font-family: "MyriadPro Regular";src: url("../fonts/MYRIADPRO-REGULAR.OTF");}
@font-face {font-family: "MyriadPro Semibold";src: url("../fonts/MYRIADPRO-SEMIBOLD.OTF");}
@font-face {font-family: "MyriadPro Condensed";src: url("../fonts/MYRIADPRO-COND.OTF");}
@font-face {font-family: "MyriadPro Bold Condensed";src: url("../fonts/MYRIADPRO-BOLDCOND.OTF");}
@font-face {font-family: "MyriadPro Semibold Italic";src: url("../fonts/MYRIADPRO-SEMIBOLDIT.OTF");}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "MyriadPro Regular", sans-serif;
}
.content {
    width: 980px;
    margin: 0 auto;
}
html {
    margin: 0 auto;
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0 auto;
}
header, .title {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #096bc3, #074e8d);
    box-shadow: 0 1px 5px black;
    height: 120px;
    color: white;
    z-index: 1;
}
.header-content {
    height: 100%;
}
.company-name, .menu, .contacts {
    display: inline-block;
    height: 120px;
    text-align: center;
}
.company-name {
    float: left;
    width: 230px;
    line-height: 120px;
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 40px;
}
.menu {
    width: 500px;
}
.menu li {
    display: inline-block;
    height: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.menu a {
    color: white;
    text-decoration: none;
}

.unchosen:hover div {
    transform: scale(1.1);
}
.menu li:nth-child(1){width: 180px;float: left}
.menu li:nth-child(2){width: 165px;}
.menu li:nth-child(3){width: 155px;float: right}
.menu li:last-child {
    width: 100%;
    height: 0;
}
.menu-icon-1, .menu-icon-2, .menu-icon-3 {
    width: 54px;
    height: 54px;
    margin: 5px auto;
    background: url("../images/sprite-1.png");
    background-size: cover;
}
.menu-icon-2 {
    background-position: 5% 0;
}
.menu-icon-3 {
    background-position: 10.1% 0;
    margin: 15px auto 20px;
}
.contacts {
    float: right;
    width: 250px;
    vertical-align: middle;
}
.contacts .address {
    font-size: 16px;
    margin: 5px 0;
}
.contacts .phone-number {
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 26px;
    margin: 5px 0;
}
.contacts button {
    width: 220px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #fff100, #f7941d);
    font-family: "MyriadPro Semibold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.contacts button:hover {
    background: linear-gradient(to top, #fff100, #f7941d);
}
.contacts button:active {
    border: 2px solid #074e8d;
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 120px;
    text-transform: uppercase;
    font-weight: bold;
}
.top-block {
    height: 650px;
    margin: 6px auto;
    padding: 5px 0;
    position: relative;
}
.top-block .background {
    width: 980px;
    height: 540px;
    background: url("../images/background-1.png");
    position: absolute;
    bottom: 0;
    left: 100px;
    z-index: -1;
}
.top-block .text-1 {
    font-family: "MyriadPro Condensed", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 30px;
}
.top-block .text-2, .top-block .text-3 {
    font-size: 50px;
    font-family: "MyriadPro Semibold Italic", sans-serif;
    color: #085da9;
    margin-top: 7px;
}
.top-block .text-3 {
    margin-left: 180px;
}
.top-block .text-price {
    margin: 250px 50px 0 0;
    font-family: "MyriadPro Semibold Italic", sans-serif;
    color: #ff0004;
    font-size: 48px;
}
.top-block .text-5 {
    font-family: "MyriadPro Semibold Italic", sans-serif;
    font-size: 36px;
    margin-left: 100px;
}
.our-services {
    height: 1220px;
    position: relative;
}
.our-services .background {
    background: url("../images/background-4.jpg");
    background-size: cover;
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0;
}
.our-services-text {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 215px;
    position: absolute;
    top: 0;
}
.our-services-text span {
    display: block;
    width: 980px;
    margin: 0 auto;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 32px;
    padding-top: 50px;
    text-align: center;
}
.our-services .content {
    display: table;
    border-collapse: collapse;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    height: 920px;
}
.content-row {
    display: table-row;
}
.service {
    display: table-cell;
    width: 230px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid transparent;
    text-align: center;
}
.service-image {
    width: 229px;
    height: 230px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.row-1 .service:nth-child(1) .service-image {background: url("../images/sprite-2.jpg") -1px 0; background-size: cover}
.row-1 .service:nth-child(2) .service-image {background: url("../images/sprite-2.jpg") 12.76% 0; background-size: cover}
.row-1 .service:nth-child(3) .service-image {background: url("../images/sprite-2.jpg") 25.52% 0; background-size: cover}
.row-1 .service:nth-child(4) .service-image {background: url("../images/sprite-2.jpg") 38.28% 0; background-size: cover}
.row-2 .service:nth-child(1) .service-image {background: url("../images/sprite-2.jpg") 51.04% 0; background-size: cover}
.row-2 .service:nth-child(2) .service-image {background: url("../images/sprite-2.jpg") 63.78% 0; background-size: cover}
.row-2 .service:nth-child(3) .service-image {background: url("../images/sprite-2.jpg") 76.56% 0; background-size: cover}
.row-2 .service:nth-child(4) .service-image {background: url("../images/sprite-2.jpg") 89.28% 0; background-size: cover}
.service-title {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    color: #085aa3;
    font-size: 30px;
    line-height: 25px;
    margin: 10px 0 0;
}
.row-2 .service-title{
    height: 60px;
}
.service ul {
    width: 95%;
    text-align: left;
    margin-left: 5%;
    list-style: none;
}
.service ul li {
    margin-top: 10px;
}
.service .mark {
    display: inline-block;
    color: #075294;
    width: 5%;
    vertical-align: top;
    margin-top: -6px;
    margin-right: 4%;
    font-size: 18px;
}
.service-description {
    display: inline-block;
    color: #5b574f;
    width: 90%;
}
.consultation {
    height: 505px;
    background: url("../images/background-5.jpg");
    background-size: cover;
    padding-top: 55px;
    text-align: center;
}
.consultation .left-column {
    width: 350px;
    float: left;
    text-align: left;
}
.consultation .column-title {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.consultation .column-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 15px 0;
}
.consultation .text-1 {
    display: inline-block;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.consultation .right-column {
    width: 500px;
    float: right;
}
.right-column .text-1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.right-column .column-content {
    text-align: left;
}
input[type="text"] {
    font-family: "MyriadPro Condensed", sans-serif;
    font-size: 24px;
    padding: 10px;
    width: 345px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 3px solid #eeeeee;
}
input[type="text"]:focus::-webkit-input-placeholder {color: transparent}
input[type="text"]:focus::-moz-placeholder {color: transparent}
input[type="text"]:focus:-moz-placeholder {color: transparent}
input[type="text"]:focus:-ms-input-placeholder {color: transparent}
input[type=submit] {
    width: 345px;
    border: none;
    background: linear-gradient(to bottom, #fff100, #f7941d);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
input[type=submit]:hover {
    background: linear-gradient(to top, #fff100, #f7941d);
}
input[type=submit]:active {
    outline: 2px solid #eeeeee;
}
.on-map {
    width: 100%;
    margin: 0;
    padding: 0;
}
footer {
    width: 100%;
    height: 65px;
    padding: 20px 0;
}
footer .content {
    width: 1280px;
    margin: 0 auto;
}
footer .text-1, footer .text-2 {
    font-size: 18px;
    float: left;
}
footer .text-2 {
    float: right;
}
footer a {
    color: #096fca;
    font-size: 18px;
}
@media (max-width: 1280px) {
    .title {
        font-size: 50px;
    }
    footer .content {
        width: 960px;
    }
    footer .text-1, footer .text-2 {
        font-size: 14px;
    }
}
/*********** spares.html *************/
.spares-top-block {
    width: 100%;
    height: 655px;
    background: url("../images/background-6.jpg");
    background-size: cover;
    padding: 20px 0;
    position: relative;
}
.spares-top-block h1 {
    display: inline-block;
    width: 425px;
    margin-right: 70px;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
}
.spares-top-block h2 {
    display: inline-block;
    width: 410px;
    font-family: "MyriadPro Semibold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff0004;
    vertical-align: top;
}
.spares-top-block .background {
    margin-top: 35px;
    margin-left: 95px;
    width: 769px;
    height: 283px;
    background: url("../images/background-2.png");
    background-size: cover;
}
.spares-top-block .form-wrap {
    position: absolute;
    width: 1030px;
    height: 280px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.4);
}
.spares-top-block .text-1 {
    margin-top: 85px;
    margin-left: 75px;
    width: 400px;
    font-family: "MyriadPro Semibold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
}
.spares-top-block form {
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    width: 400px;
    text-align: center;
 }
.spares-top-block .text-2 {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.spares-top-block input[type="text"] {
    font-family: "MyriadPro Condensed", sans-serif;
    font-weight: bold;
    width: 360px;
    margin-left: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.spares-top-block input[type=submit] {
    width:360px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.spares-for-cars {
    width: 100%;
    height: 550px;
    background: url("../images/background-10.jpg");
    background-size: cover;
    position: relative;
    padding: 55px 0;
}
.slider {
    width: 100%;
    height: 150px;

}
.slider .left-control, .slider .right-control {
    display: inline-block;
    font-size: 250px;
    color: white;
    font-family: "MyriadPro Condensed", sans-serif;
    line-height: 100px;
    cursor: pointer;
}
.slider .left-control:hover, .slider .right-control:hover {
    text-shadow: 0 1px 5px black;
}
.slider ul {
    display: inline-block;
    text-align: center;
}
.slider .element {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    position: relative;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slider .element:nth-child(1) {margin-left: 0}
.slider .element:nth-child(5) {margin-right: 0}
.slider .logo {
    width: 120px;
    height: 120px;
    position: relative;
    left: 15px;
    top: 15px;
}
.slider .element:nth-child(1) .logo {background: url("../images/sprite-5.png") no-repeat 0.4% 0; background-size: cover}
.slider .element:nth-child(2) .logo {width: 140px;left: 5px;background: url("../images/sprite-5.png") no-repeat 19% 0; background-size: cover}
.slider .element:nth-child(3) .logo {background: url("../images/sprite-5.png") no-repeat 43.5% 0; background-size: cover}
.slider .element:nth-child(4) .logo {background: url("../images/sprite-5.png") no-repeat 71% 0; background-size: cover}
.slider .element:nth-child(5) .logo {width: 140px;left: 5px;background: url("../images/sprite-5.png") no-repeat 99% 0; background-size: cover}
.order-block {
    width: 100%;
    height: 205px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 55px;
}
.order-block .text-1 {
    width: 500px;
    height: 150px;
    float: left;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 55px;
    color: #08579d;
    text-transform: uppercase;
    margin-top: 10px;
}
.order-block .text-2 {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 24px;
    color: black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
}
.order-block .arrows-image {
    display: inline-block;
    height: 55px;
    width: 40px;
    background: url("../images/sprite-1.png") 74.5% 0;
    background-size: cover;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
}
.order-block form {
    float: right;
    width: 345px;
}
.order-block input[type="text"] {
    margin: 10px 0 5px;
    border: 3px solid #b9b4b4;
}
.order-block input[type="submit"] {
    border: none;
    margin: 10px 0 5px;
}
.catalog {
    width: 100%;
    padding: 30px 0 50px;
}
.catalog .content {
    display: table;
    list-style: none;
}
.catalog .product {
    display: table-cell;
    width: 240px;
    text-align: center;
    position: relative;
    border-bottom: 30px solid white;
}
.catalog .product-image {
    width: 200px;
    height: 170px;
    display: inline-block;
}
.catalog .row-1 .product:nth-child(1) .product-image {background: url("../images/sprite-3.png") 13.5% 0;background-size: cover}
.catalog .row-1 .product:nth-child(2) .product-image {background: url("../images/sprite-3.png") 23.3% 0;background-size: cover}
.catalog .row-1 .product:nth-child(3) .product-image {background: url("../images/sprite-3.png") 78.7% 0;background-size: cover}
.catalog .row-1 .product:nth-child(4) .product-image {background: url("../images/sprite-3.png") 70% 0;background-size: cover}
.catalog .row-2 .product:nth-child(1) .product-image {background: url("../images/sprite-3.png") 61.3% 0;background-size: cover}
.catalog .row-2 .product:nth-child(2) .product-image {background: url("../images/sprite-3.png") 33.4% 0;background-size: cover}
.catalog .row-2 .product:nth-child(3) .product-image {background: url("../images/sprite-3.png") 51.5% 0;background-size: cover}
.catalog .row-2 .product:nth-child(4) .product-image {background: url("../images/sprite-3.png") 42.5% 0;background-size: cover}
.catalog .text-1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.catalog .text-2 {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 10px 0 50px;
}
.catalog button, .price-block button, .repair-services button, .only-we button {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 200px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #1797c0, #096fca);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.catalog button:hover, .price-block button:hover, .repair-services button:hover, .only-we button:hover {
    background: linear-gradient(to top, #1797c0, #096fca);
}
.reviews {
    width: 100%;
    height: 440px;
    background: url("../images/background-8.jpg");
    background-size: cover;
}
.reviews .left-column {
    width: 550px;
    float: left;
    text-align: left;
    margin-top: 50px;
}
.reviews .review {
    position: relative;
    width: 450px;
}
.reviews .name {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.reviews .line {
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.6);
}
.reviews .review-text {
    display: inline-block;
    width: 80%;
    min-height: 200px;
    margin-left: 10%;
    text-align: justify;
    position: relative;
    font-family: "MyriadPro Regular", sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 10px 0;
}
.reviews .quote-1, .reviews .quote-2 {
    position: absolute;
    width: 40px;
    height: 45px;
    background: url("../images/sprite-1.png");
    background-size: cover;
}
.reviews .quote-1 {
    left: -45px;
    top: 0;
    background-position: 79% 0;
}
.reviews .quote-2 {
    right: -35px;
    bottom: 0;
    background-position: 83.5% 0;
}
.reviews .review-controls {
    width: 100%;
}
.reviews .review-controls li {
    display: inline-block;
    height: 15px;
    width: 80px;
    margin-right: 25px;
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
.reviews .active, .reviews .review-controls li:hover {
    background: linear-gradient(to bottom, #096ec8, #074f8f);
}
.reviews .photo {
    position: absolute;
    top: 0;
    right: -150px;
    border: 4px solid #eaeaea;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: url("../images/sprite-2.jpg") 100% 0;
    background-size: cover;
}
.reviews .right-column {
    width: 320px;
    float: right;
    text-align: left;
    margin-top: 50px;
}
.reviews .column-title {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.reviews .column-content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 15px 0;
    text-align: left;
}
.reviews .text-1 {
    display: inline-block;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: left;
}
.problems, .reasons {
    padding: 70px 0 20px;
}
.problems .content, .reasons .content {
    display: table;
    border-collapse: collapse;
    border: 1px solid black;
}
.problems li, .reasons li {
    display: table-cell;
    width: 490px;
    vertical-align: top;
    border-bottom: 50px solid white;
}
.problems .mark, .reasons .mark {
    float: left;
    width: 75px;
    height: 75px;
    color: #085eab;
    border: 4px solid #085eab;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 0 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    line-height: 65px;
}
.problems .text-1, .reasons .text-1 {
    width: 375px;
    float: right;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 5px;
}
.problems .text-2, .reasons .text-2 {
    width: 375px;
    float: right;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 25px;
}
.how-to-order {
    width: 100%;
    height: 520px;
    background: url("../images/background-14.jpg");
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}
.how-to-order>ul li {
    display: inline-block;
    width: 280px;
    height: 280px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 10px solid #dddddd;
    background-color: white;
    padding: 0;
    overflow: hidden;
    margin: 0 2.25%;
}
.how-to-order>ul li:nth-child(1) .hto-image {margin:50px 10px;width: 200px;height:200px;background: url("../images/sprite-6.png") 1% 0;background-size: cover;}
.how-to-order>ul li:nth-child(2) .hto-image {margin:40px 20px;width: 200px;height:200px;background: url("../images/sprite-6.png") 50% 0;background-size: cover;}
.how-to-order>ul li:nth-child(3) .hto-image {margin:40px 10px;width: 200px;height:200px;background: url("../images/sprite-6.png") 100% 0;background-size: cover;}
.how-to-order .steps {
    width: 100%;
    height: 112px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 30px;
}
.how-to-order .steps li {
    display: inline-block;
    height: 112px;
    float: left;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
}
.how-to-order .steps li:nth-child(2){padding-top: 15px}
.how-to-order .steps li:nth-child(4), .how-to-order .steps li:nth-child(6){padding-top: 25px}
.how-to-order .steps .mark {
    display: inline-block;
    height: 112px;
    width: 68px;
    background: url("../images/arrow.png");
    background-size: cover;
    margin-top: -1px;
}
/************* repairs.html *************/
.repairs-top-block {
    width: 100%;
    height: 650px;
    background: url("../images/background-7.jpg") center;
    background-size: cover;
}
.repairs-top-block h1 {
    display: inline-block;
    width: 320px;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 47px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 30px;
    vertical-align: top;
}
.repairs-top-block h2 {
    display: inline-block;
    width: 340px;
    font-size: 24px;
    font-family: "MyriadPro Semibold", sans-serif;
    text-transform: uppercase;
    color: #ff0004;
    margin-top: 30px;
    vertical-align: top;
}
.repairs-top-block form {
    width: 610px;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 370px;
    margin-top: 140px;
    padding-top: 20px;
}
.repairs-top-block .text-2 {
    font-size: 30px;
    font-family: "MyriadPro Semibold", sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.repairs-top-block input[type="text"] {
    width: 360px;
    margin: 20px 0 0 125px;
    border: none;
    background-color: #cfcfcf;
}
.repairs-top-block input[type=submit] {
    width: 360px;
    margin: 20px 0 0 125px;
}
.repairs-top-block input[type=submit]:focus {
    background: linear-gradient(to top, #fff100, #f7941d);
}
.our-achievements {
    width: 100%;
    height: 390px;
    background: url("../images/background-9.jpg") center;
    background-size: cover;
}
.our-achievements li {
    display: inline-block;
    float: left;
    width: 300px;
    height: 105px;
    border: 5px solid #4d88bd;
    margin: 60px 0 0 40px;
    background-color: white;
}
.our-achievements li:nth-child(1), .our-achievements li:nth-child(4){margin-left: 0;}
.our-achievements li:nth-child(1) .mark {background: url("../images/sprite-1.png") 65% 0;background-size: cover}
.our-achievements li:nth-child(2) .mark {background: url("../images/sprite-1.png") 59.5% 0;background-size: cover}
.our-achievements li:nth-child(3) .mark {background: url("../images/sprite-1.png") 45.3% 0;background-size: cover}
.our-achievements li:nth-child(4) .mark {background: url("../images/sprite-1.png") 38.5% 0;background-size: cover}
.our-achievements li:nth-child(5) .mark {background: url("../images/sprite-1.png") 53% 0;background-size: cover}
.our-achievements li:nth-child(6) .mark {background: url("../images/sprite-1.png") 32.5% 0;background-size: cover}
.our-achievements .mark {
    width: 100px;
    height: 85px;
    float: left;
    margin-top: 5px;
}
.our-achievements .text-1 {
    width: 185px;
    float: right;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #085eab;
    margin-top: 15px;
}
.our-achievements li:nth-child(2) .text-1 {margin-top: 5px;}
.our-achievements .text-2 {
    width: 185px;
    float: right;
    font-family: "MyriadPro Regular", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #085eab;
}
.price-block {
    display: table;
    width: 960px;
    border-collapse: collapse;
    margin: 50px auto;
}
.price-block ul {
    display: table-row;
}
.price-block ul li {
    display: table-cell;
    width: 320px;
    position: relative;
    text-align: center;
    padding: 0 10px 50px;
}
.price-block .text-1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.block-2 .text-1, .block-3 .text-1 {
    height: 60px;
}
.price-block .product-image {
    width: 240px;
    height: 210px;
    display: inline-block;
}
.block-1 ul li:nth-child(1) .product-image {background: url("../images/sprite-3.png") 13.5% 0;background-size: cover}
.block-1 ul li:nth-child(2) .product-image {width: 300px;background: url("../images/sprite-3.png");background-size: cover}
.block-1 ul li:nth-child(3) .product-image {background: url("../images/sprite-3.png") 78.7% 0;background-size: cover}
.block-2 ul li:nth-child(1) .product-image {background: url("../images/sprite-3.png") 100.1% 0;background-size: cover}
.block-2 ul li:nth-child(2) .product-image {background: url("../images/sprite-3.png") 78.7% 0;background-size: cover}
.block-2 ul li:nth-child(3) .product-image {background: url("../images/sprite-3.png") 13.5% 0;background-size: cover}
.block-3 ul li:nth-child(1) .product-image {width: 300px;background: url("../images/sprite-3.png") 90.5% 0;background-size: cover}
.block-3 ul li:nth-child(2) .product-image {background: url("../images/sprite-3.png") 13.5% 0;background-size: cover}
.block-3 ul li:nth-child(3) .product-image {background: url("../images/sprite-3.png") 78.7% 0;background-size: cover}
.block-1 .text-2 {
    font-family: "Roboto", sans-serif;
    color: #6e6f70;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
}
.block-1 .text-3 {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}
.block-1 .text-4 {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ff0004;
}
.ruble {
    display: inline-block;
    width: 16px;
    height: 20px;
    background: url("../images/ru$.png");
    background-size: cover;
}
.block-2 .text-2 {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    width: 30%;
}
.block-2 .text-3 {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #085eab;
    width: 50%;
    text-align: left;
    font-weight: bold;
}
.block-2 .text-4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6e6f70;
    margin-top: 15px;
}
.block-2 .text-5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #6e6f70;
}
.block-3 .text-2 {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    width: 25%;
}
.block-3 .text-3 {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ff0004;
    margin-top: 15px;
}
.block-3 .text-4 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #6e6f70;
}
.price-block button {
    left: 60px;
}
.repair-services {
    width: 100%;
    height: 650px;
    background: url("../images/background-11.jpg") center;
    background-size: cover;
    padding: 50px;
}
.repair-services .small-title {
    width: 980px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #085eab;
    text-align: center;
}
.repair-services ul {
    color: #085eab;
    font-size: 30px;
    margin-top: 50px;
}
.repair-services ul li {
    text-transform: uppercase;
    color: black;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    margin-top: 10px;
}
.repair-services button {
    display: block;
    position: static;
    margin: 40px auto 0;
}
.only-we {
    width: 100%;
    height: 650px;
    background: url("../images/background-12.jpg") -50px 90%;
    background-size: cover;
    padding-top: 100px;
}
.only-we .text-1 {
    margin-left: 480px;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0004;
    line-height: 42px;
}
.only-we button {
    width: 300px;
    display: block;
    position: static;
    margin: 30px 0 30px 480px;
}
.only-we .text-2 {
    display: inline-block;
    margin-left: 480px;
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.general-problems {
    width: 100%;
    height: 600px;
    background-color: #efefef;
    padding: 15px 0;
}
.general-problems .text-1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.general-problems ul {
    display: inline-block;
    margin: 50px 0 0 10px;
    list-style: none;
}
.general-problems ul li, .only-we-2 ul li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.general-problems .mark, .only-we-2 .mark{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid #085eab;
    color: #085eab;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 20px 10px  0;
    vertical-align: middle;
}
.only-we-2 {
    width: 100%;
    height: 980px;
    padding: 15px 0;
}
.only-we-2 .content {
    position: relative;
}
.only-we-2 .background {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 965px;
    height: 525px;
    background: url("../images/background-3.jpg");
    background-size: cover;
    z-index: -1;
}
.only-we-2 .text-1 {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.only-we-2 ul {
    display: inline-block;
    margin: 450px 0 0 0;
    list-style: none;
}
.only-we-2 ul li {
    margin-top: 10px;
}
.only-we-2 .mark {
    vertical-align: middle;
}
.only-we-2 .text-2 {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    vertical-align: middle;
}
.how-we-work {
    width: 100%;
    height: 665px;
    background-color: #efefef;
    padding: 50px 0;
    text-align: center;
}
.how-we-work .content {
    position: relative;
}
.how-we-work ul {
    line-height: 300px;
}
.how-we-work ul li {
    line-height: normal;
}
.how-we-work li:nth-child(1),
.how-we-work li:nth-child(3),
.how-we-work li:nth-child(5),
.how-we-work li:nth-child(6),
.how-we-work li:nth-child(8) {
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 10px solid #096bc3;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
}
.how-we-work .left-arrow,
.how-we-work .right-arrow,
.how-we-work .strange-arrow {
    display: inline-block;
    width: 75px;
    height: 120px;
    background: url("../images/sprite-4.png");
    background-size: cover;
    vertical-align: middle;
    margin: 0 15px;
}
.how-we-work .right-arrow {
    background-position: 42% 0;
}
.how-we-work .strange-arrow {
    width: 120px;
    position: absolute;
    left: 690px;
    top: 220px;
    background-position: 100% 0;
}
.how-we-work .mark {
    display: inline-block;
    width: 50px;
    height: 60px;
    background: url("../images/sprite-1.png");
    background-size: cover;
}
.how-we-work li:nth-child(1) .mark {width:30px;background-position: 24% 0}
.how-we-work li:nth-child(3) .mark {background-position: 28% 0}
.how-we-work li:nth-child(5) .mark {background-position: 70% 0}
.how-we-work li:nth-child(6) .mark {width:100px;background-position: 16.5% 0}
.how-we-work li:nth-child(8) .mark {width:70px;background-position: 65% 0}
.how-we-work .text-1 {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 30px;
    color: #096bc3;
    text-transform: uppercase;
    line-height: 30px;
}
.how-we-work .text-2 {
    display: inline-block;
    width: 80%;
    font-family: "MyriadPro Condensed", sans-serif;
    font-size: 18px;
    color: #096bc3;
}
.consultation-repairs  {
    background: url("../images/background-13.jpg") center;
    background-size: cover;
}
/**********************/
.window-callback {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    text-align: left;
    z-index: 10;
}
.form-callback {
    position: absolute;
    width: 470px;
    height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    text-align: center;
    padding: 0 30px;
    z-index: 10;
}
.form-callback .text-1 {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 30px;
}
.form-callback .text-2 {
    font-family: "MyriadPro Bold Condensed", sans-serif;
    font-size: 24px;
    text-transform: lowercase;
    margin: 10px 0;
    color: #615c5c;
}
.form-callback input {
    margin: 10px 0;
}